.gradient-background {
	background: linear-gradient(300deg, #0b2b26, #3c7962, #77bba2, #eae7e1);
	background-size: 180% 180%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.gradient-background-footer{
	background: linear-gradient(300deg, #3c7962, #77bba2, #eae7e1);
	background-size: 180% 180%;
	animation: gradient 15s ease infinite;
	height: 10vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.ariana-grande-picture{
	border-radius: 50%;
	margin: 20px;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.features-p{
	text-align: justify;
}

@media (min-width:570px) and (max-width: 992px){
	.flex-container{
		display: flex !important;
		margin-left: auto;
		margin-right: auto;
		align-items: center !important;
	}
	.phone{
		margin-top: 50px;
		justify-content: center;
		height: 500px;
		width: 500px;
	}
}

@media (max-width:569px){
	.flex-container{
		display: flex !important;
		margin-left: auto;
		margin-right: auto;
		align-items: center !important;
	}

	.gradient-background{
		background: linear-gradient(300deg, #3c7962, #77bba2, #eae7e1);
		background-size: 180% 180%;
		animation: gradient 15s ease infinite;
		height: 75vh;
	}
	.phone{
		margin-top: 50px;
		justify-content: center;
		height: 500px;
		width: 500px;
	}
}